:root{
    --dark_primary : #0e1117;
    --dark_secundary : #181d27;
    --light_primary : #F1FFF7;
    --light_secundary : #f1fbf6;
    --extremidades : #0C4B33;
}

@font-face {
    font-family: "Nunito-padrao";
    src: url("fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Graduate";
    src: url("fonts/Graduate/Graduate-Regular.ttf");
    
}

.lista{
    background-color: royalblue;
}

.links-topMenu{
    text-decoration: none;
    color: #d8d8d8;
}

.links-topMenu:hover{
    color: white;
}

.list-topMenu{
    cursor: pointer;
}

.topMenu{
    background-color: var(--extremidades);
    color: white;
    margin: 0;
    padding: 1em;
    display: flex;
    align-items: baseline;
}

.lista-ul {
    display: flex;
    margin: 0;
    list-style: none;
    align-items: baseline;
    margin-left: 2em;
}

.lista-menu-itens{
    margin: 0em 1em 0em 1em;
}

.body{
    margin: 0;
    background-color: #0e1117;
    font-family: "Nunito-padrao",sans-serif;
}

.a-titulo{
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    margin-left: 4em;
    font-family: "Graduate",sans-serif;
    color: gold;
}

.Img-Icon-List{
    color: white;
}

.div-principal{
    color: gold;
}

.col-Esquerda{
    background-color: var(--dark_secundary);
}

.col-Direita{
    background-color: var(--dark_primary);
}

.lista-Esquerda{
    color: white;
    list-style: none;
}

.title-colEsquerda{
    text-align: center;
    color: white;
    margin: 0px 0 20px 0;
    font-family: "Graduate",sans-serif;
}

.lista-ul-menu-Bar{
    margin: 0;
    padding-left: 1.6em;
}

.rodape{
    background-color: var(--extremidades);
    color: white;
}

.lista-footer{
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    font-style: italic;
    font-size: 0.8em;
    padding: 2em;
    margin: 0;
}

.menu-Bar{
    margin: 1em 0 1em 0;
    padding-bottom: 1em;
}

.li-produtos{
    text-decoration: none;
    color: gold;
}

.li-produtos:hover{
    color: white;
    text-shadow: 0 0 10px white,
                 0 0 50px white,
                 0 0 100px white;
}

.color-top-menu{
    position: absolute;
    right: 1em;
    top: 25px;
    cursor: pointer;
}
